.pdf-display {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.pdf-header {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  font-size: larger;
}

.pdf-header h2 {
  margin: 0;
  color: #333;
}

.pdf-header p {
  color: #999;
  margin: 0.25rem 0 0 0;
  font-size: 0.9rem;
}

.pdf-content {
  flex: 1;
  overflow: auto;
}

.pdf-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
